@charset "utf-8";
body{
	font-family:arial, helvetica, sans-serif;
}
.leftNavbar *{
	margin:0;
	padding:0;
	list-style-type:none;
}
.leftNavbar{
	z-index:1031;
}
.leftNavbar .leftNavbar-body{
	z-index:1031;
	position:fixed;
	top: 0px;
	left: 0px;
}
.leftNavbar hr{
	margin: 8px 0px;
	border-top: 1px solid #919191;
}
/* 主按钮 */
.leftNavbar .leftNavbar-body .navBtn{
	background: #313639;
	width:45px;
	height:45px;
	text-align: center;
	padding-top: 7px;
	display:block;
	border-right: 1px solid #e3e3e3;
}
/* 菜单一级+二级 */
.leftNavbar .menuBtn-1, .leftNavbar .menuBtn-2{
	z-index:1031;
	background-color:#333;
	width:200px;
	padding: 20px 0px;
	visibility: hidden;
	/* 	-webkit-transition:width 0.1s ease-out;
        -moz-transition:width 0.1s ease-ou;
        -ms-transition:width 0.1s ease-out;
        -o-transition:width 0.1s ease-out;
        transition:width 0.1s ease-out; */
}
.leftNavbar .menuBtn-1{
	position:absolute;
	top:45px;
	left:0px;
	width: 200px;
	height:calc(100% - 50px);
}
.leftNavbar .menuBtn-2{
	border-left: 1px solid gray;
	position:absolute;
	top:0px;
	left:199px;
	width: 200px;
	height:100%;
}
.leftNavbar .menu-div-3{
	border-left: 1px solid gray;
	background-color:#303538;
	min-height:500px;
	width:1000px;
	height:100%;
	padding: 20px;
	visibility: hidden;
	position:absolute;
	top:0px;
	left:199px;
	float:left;
	overflow: hidden;
}
.leftNavbar .menu-container-3{
	width:1000px;
	height:100%;
	overflow-y: scroll;
}
/* 给三级菜单框添加父类menu-div-3，设置父类宽比菜单框小一点，隐藏滚动条 */
.leftNavbar .menuBtn-3{
	width: 960px;
	max-width: 1000px;
	position:absolute;
	top:0px;
	left:0px;
}
.leftNavbar .menu-show-3{
	float: left;
	width: 200px;
	margin-bottom: 20px;
}
.leftNavbar .menu-show-1 .nav-menu-1, .leftNavbar .menu-show-2 .nav-menu-2{
	padding-left: 20px;
	width: 200px;
}
/* 箭头 */
.leftNavbar .icon-angle-right{
	float: right;
	margin: 5px 5px 0px 0px;
}
.leftNavbar .menuBtn-4 .menu-show-4{
	padding: 3px 0px;
	font-size: 15px;
}
/* 一级菜单标题+二级菜单标题 */
.leftNavbar .menu-show-1 .nav-menu-1 a, .leftNavbar .menu-show-2 .nav-menu-2 a{
	font-family:微软雅黑, 黑体;
	color:#f8f8f8;
	font-size: 17px;
	line-height:40px;
}
/* 下拉框-三级菜单标题*/
.leftNavbar .menuBtn-3 .nav-menu-3 a{
	font-size: 17px;
	font-weight: bold;
	color: #f8f8f8;
}
/* 四级菜单标题*/
.leftNavbar .menuBtn-3 .nav-menu-4 a{
	font-size: 13px;
	color: #a2a2a2;
}
.leftNavbar .menuBtn-3 .nav-menu-4{
	margin: 8px 0px;
}
/* 下拉框-四级菜单文字*/
.leftNavbar .menuBtn-4 .menu-show-4 a{
	color: white;
}
/* 鼠标经过按钮时候显示菜单导航 */
.leftNavbar .leftNavbar-body:hover{
	height: 100%;
}
.leftNavbar .leftNavbar-body:hover .menuBtn-1,
.leftNavbar .menu-show-1:hover .menuBtn-2,
.leftNavbar .menu-show-2:hover .menu-div-3
{
	visibility: visible;
}
/* 二级菜单不显示 */
.leftNavbar .menu-show-1:hover .menu-noshow{
	visibility: hidden;
}
/* 二级菜单不显示时三级菜单框 */
.leftNavbar .menu-show-1:hover .menu-noshow .menu-div-3{
	visibility: visible;
	left: 0px;
}
/* 鼠标经过时颜色变化 */
.leftNavbar .leftNavbar-body:hover .navBtn{
	background-color:#00c1de;
}
.leftNavbar .menu-show-1:hover .nav-menu-1, .leftNavbar .menu-show-2:hover .nav-menu-2{
	background-color:#1f1f1f;
}
.leftNavbar .menu-show-1:hover .nav-menu-1 a,
.leftNavbar .menu-show-2:hover .nav-menu-2 a,
.leftNavbar .menu-show-3:hover .menuBtn-4 a:hover
{
	color:#00c1de;
}
.leftNavbar a{
	color: white;
	text-decoration: none;
	cursor: default;
}
.leftNavbar .menuBtn-4 a{
	cursor: pointer;
}
/* 有滚动条时显示箭头提醒 */
.leftNavbar .menu-div-3 .arrow-more{
	position: absolute;
	left: 460px;
	bottom: 0px;
	/*color: #00c1de;*/
	color: white;
	/*visibility: hidden;*/
}