@charset "utf-8";
body{
		/*background-color:#cecece;*/
	font-family:arial, helvetica, sans-serif;
}
/* a{
	border:0;
	color:#666666;
	text-decoration:none;
	-webkit-transition-property:color;
	-moz-transition-property:color;
	-o-transition-property:color;
	transition-property:color;
	-webkit-transition-duration:.2s;
	-webkit-transition-timing-function:ease-in;
	-moz-transition-duration:.2s;
	-moz-transition-timing-function:ease-in;
	-o-transition-duration:.2s;
	-o-transition-timing-function:ease-in;
	transition-duration:.2s;
	transition-timing-function:ease-in;
}*/
.leftNavbar *{
	margin:0;
	padding:0;
	list-style-type:none;
}
.leftNavbar{
	z-index:1031;
	/*height: 100%;*/
}
.leftNavbar .leftNavbar-body{
	z-index:1032;
	position:absolute;
	top: 0px;
	left: 0px;
	/*height: 100%;*/
}
.leftNavbar hr{
	margin: 8px 0px;
	border-top: 1px solid #919191;
}
/* 主按钮 */
.leftNavbar .leftNavbar-body .navBtn{
	background: #36383c url(/assets/css/images/menu.png) no-repeat center center;
	background-size: 25px  20px;
	width:45px;
	height:45px;
	line-height:45px;
	display:block;
	border-right: 1px solid gray;
}
/* 菜单一级+二级 */
.leftNavbar .menuBtn-1, .leftNavbar .menuBtn-2{
	z-index:1032;
	background-color:#333;
	width:0px;
	padding: 20px 0px;
	display:none;
	-webkit-transition:width 1s ease-out;
	-moz-transition:width 1s ease-ou;
	-ms-transition:width 1s ease-out;
	-o-transition:width 1s ease-out;
	transition:width 1s ease-out;
}
.leftNavbar .menuBtn-1{
	position:absolute;
	top:45px;
	left:0px;
	height:calc(100% - 50px);
}
.leftNavbar .menuBtn-2{
	border-left: 1px solid gray;
	position:absolute;
	top:0px;
	left:199px;
	height:100%;
}
.leftNavbar .menuBtn-3{
	background-color:#303538;
	min-height:500px;
	width:0px;
	height:100%;
	padding: 20px 20px;
	display:none;
	position:absolute;
	top:0px;
	left:199px;
	float:left;
	/* box-shadow:4px 4px 5px -1px #999999;
	-webkit-box-shadow:4px 4px 5px -1px #999999;
	-moz-box-shadow:4px 4px 5px -1px #999999; */
	-webkit-transition:width 2s ease-out;
	-moz-transition:width 2s ease-out;
	-ms-transition:width 2s ease-out;
	-o-transition:width 2s ease-out;
	transition:width 2s ease-out;
}
.leftNavbar .menuBtn-4{
	margin-bottom: 20px;
}
.leftNavbar .menu-show-1 .nav-menu-1, .leftNavbar .menu-show-2 .nav-menu-2{
	background-image: url(/assets/css/images/arrow.png);
	height:40px;
	padding: 0px 20px;
	background-repeat:no-repeat;
	background-position:right center;
}
.leftNavbar .menuBtn-3 .menu-show-3{
	padding-right: 40px;
}
.leftNavbar .menuBtn-4 .menu-show-4{
	padding: 5px 0px;
	font-size: 15px;
}
/* 一级菜单文字+二级菜单文字 */
.leftNavbar .menu-show-1 .nav-menu-1 a, .leftNavbar .menu-show-2 .nav-menu-2 a{
	font-family:微软雅黑, 黑体;
	color:#f8f8f8;
	font-size: 17px;
	line-height:40px;
	/* -webkit-transition:color 0.1s ease-out;
	-moz-transition:color 0.1s ease-out;
	-ms-transition:color 0.1s ease-out;
	-o-transition:color 0.1s ease-out;
	transition:color 0.1s ease-out; */
}
/* 下拉框-三级菜单文字*/
.leftNavbar .menuBtn-3 .nav-menu-3 a{
	font-size: 17px;
	font-weight: bold;
	color: #f8f8f8;
}
/* 下拉框-四级菜单文字*/
.leftNavbar .menuBtn-4 .menu-show-4 a{
	color: #d7d4d4;
}
/* 鼠标经过按钮时候显示菜单导航 */
.leftNavbar .leftNavbar-body:hover .menuBtn-1,
.leftNavbar .menu-show-1:hover .menuBtn-2
{
	display:block;
	width: 200px;
}
.leftNavbar .menu-show-2:hover .menuBtn-3{
	display:block;
	width: 1000px;
}
/* 二级菜单不显示 */
.leftNavbar .menu-show-1:hover .menu-noshow{
	width: 0px;
}
/* 二级菜单标题文字不显示 */
.leftNavbar .menu-show-1:hover .menu-noshow .nav-menu-2{
	display: none;
}
/* 二级菜单不显示时三级菜单框 */
.leftNavbar .menu-show-1:hover .menu-noshow .menuBtn-3{
	display: block;
	width: 1000px;
	left: 0px;
}
/* 鼠标经过时颜色变化 */
.leftNavbar .leftNavbar-body:hover .navBtn{
	background-color:#00c1de;
}
.leftNavbar .menu-show-1:hover .nav-menu-1, .leftNavbar .menu-show-2:hover .nav-menu-2{
	background-color:#1f1f1f;
}
.leftNavbar .menu-show-1:hover .nav-menu-1 a, 
.leftNavbar .menu-show-2:hover .nav-menu-2 a,
.leftNavbar .menu-show-3:hover .menuBtn-4 a:hover
{
	color:#00c1de;
}
.leftNavbar a{
	color: white;
	text-decoration: none;
}

.leftNavbar .leftNavbar-body:hover{
	height: 100%;
}