<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8"/>
    <title th:text="${title}"></title>

    <!-- basic styles -->
    <script th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
    <script th:src="@{/assets/js/sidebar.js}"></script>
    <!--[if IE 7]>
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome-ie7.min.css}" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/navMenu.css}"/>
    <!-- ace styles -->

    <link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script th:src="@{/assets/js/ace-extra.min.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5shiv.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->

    <!--[if !IE]> -->

    <!--<script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
    </script>-->

    <!-- <![endif]-->

    <!--[if IE]>
   <!-- <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>-->
    <![endif]-->

    <script type="text/javascript">
        if("ontouchend" in document) document.write("<script th:src='@{/assets/js/jquery.mobile.custom.min.js}'>"+"<"+"/script>");
    </script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/typeahead-bs2.min.js}"></script>

    <!-- page specific plugin scripts -->

    <!-- ace scripts -->

    <script th:src="@{/assets/js/ace-elements.min.js}"></script>
    <script th:src="@{/assets/js/ace.min.js}"></script>



    <!-- bootbox scripts -->
    <script th:src="@{/assets/js/bootbox.min.js}"></script>

    <!--dataTables -->
    <script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/js/jquery.dataTables.bootstrap.js}"></script>
    <script th:src="@{/assets/js/dataTables.bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/css/dataTables.bootstrap.min.css}"/>
    <script th:src="@{/assets/js/dataTables.buttons.min.js}"></script>

    <link th:href="@{/assets/css/select/bootstrap-select.min.css}" rel="stylesheet" media="screen">
    <script th:src="@{/assets/js/select/bootstrap-select.js}"></script>
    <script th:src="@{/assets/js/select/defaults-zh_CN.js}"></script>

    <link rel="stylesheet" th:href="@{/assets/css/bootstrapValidator.css}"/>
    <script type="text/javascript" th:src="@{/assets/js/validator/bootstrapValidator.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/validator/bootstrapValidator.zh_CN.js}"></script>

    <link th:href="@{/assets/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <script type="text/javascript" th:src="@{/assets/js/datetimepicker/bootstrap-datetimepicker.js}"
            charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/assets/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js}"
            charset="UTF-8"></script>
    <!-- 自定组件 scripts -->
    <script th:src="@{/assets/js/comm.js}"></script>
    <script th:src="@{/assets/js/bootstrapComponent.js}"></script>
</head>
<body>

</body>
</html>