<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>头像预览编辑框</title>
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/css/ace.min.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/headPreview.css"/>
	</head>
	<body>
		<!-- 头像--放大--删除 -->
		<div id="headPreview">
			<div id="headBack">
				<div id="headPic">
					<img src="assets/images/gallery/headPreview.png"></img>
				</div>
				<div id="headEditBtn">
					<a href="#" id="headEnlarge"><i class="icon-zoom-in bigger-180"></i></a>
					<a href="#" id="headDelete"><i class="icon-trash bigger-180"></i></a>
				</div>
			</div>
		</div>
	</body>
</html>
