<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>左侧菜单导航</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}"/>
    <script th:src="@{/assets/js/masonry.pkgd.min.js}"></script>
    <script th:src="@{/assets/js/jquery-1.11.1.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/leftNavbar.css}"/>
</head>

<body>
<!-- 左侧菜单导航 -->
<div class="leftNavbar" th:fragment="leftNavbar" style="z-index: 1500;">
    <!--todo 调整iframe大小及显示-->
    <iframe frameborder=0 scrolling=no style="background-color:transparent; visibility:hidden; position: absolute; z-index: 9999; width: 100%; height: 100%; top: 0;left:0;"></iframe>
    <div class="leftNavbar-body">
        <a class="navBtn"><i class="icon-reorder bigger-220"></i></a>
        <ul class="menuBtn-1">
        </ul>
    </div>
    <script th:inline="javascript">
        var menus;
        $(function () {
            var html_context = getCookie('html_context');
            if (html_context == ''){
                menus=getDataJson('/graindepot-user/user/menuTree',null).data;
                menus=eval(JSON.stringify(menus));
                for (var i = 0; i < menus.length; i++) {
                    html_context += '<li class="menu-show-1">' +
                            '<div class="nav-menu-1"><a href="#">' + menus[i].title + '<i class="icon-angle-right bigger-160"></i></a></div>' +
                            '<ul class="menuBtn-2">';
                    if (menus[i].children) {
                        for (var j = 0; j < menus[i].children.length; j++) {
                            html_context += '<li class="menu-show-2">' +
                                    '<div class="nav-menu-2"><a href="#">' + menus[i].children[j].title + '<i class="icon-angle-right bigger-160"></i></a></div>' +
                                    '<div class="menu-div-3">' +
                                    '<div class="menu-container-3">' +
                                    '<ul class="menuBtn-3">';
                            if (menus[i].children[j].children) {
                                for (var k = 0; k < menus[i].children[j].children.length; k++) {
                                    html_context += '<li class="menu-show-3">' +
                                            '<div class="nav-menu-3"><a href="#">' + menus[i].children[j].children[k].title + '</a></div>' +
                                            '<hr>' +
                                            '<ul class="menuBtn-4">';
                                    if (menus[i].children[j].children[k].children) {
                                        for (var l = 0; l < menus[i].children[j].children[k].children.length; l++) {
                                            html_context += '<div class="nav-menu-4">' +
                                                    '<a href="#">' + menus[i].children[j].children[k].children[l].title + '</a></div>';
                                            if (menus[i].children[j].children[k].children[l].children) {
                                                for (var m = 0; m < menus[i].children[j].children[k].children[l].children.length; m++) {
                                                    html_context += '<li class="menu-show-4">' +
                                                            '<a href="#">' + menus[i].children[j].children[k].children[l].children[m].title + '</a></li>';
                                                }

                                            }
                                        }

                                    }
                                }
                                html_context += '</ul>' +
                                        '</li>';
                            }
                        }
                        html_context += '</ul>';
                        html_context += '</div>';
                        html_context += '</div>';
                        html_context += '</li>';
                    }
                    html_context += '</ul>' +
                            '</li>';
                }
                setCookie('html_context',html_context,7);
            }
            $('.menuBtn-1').html(html_context);
        });
        //读Cookie
        function getCookie(objName) {//获取指定名称的cookie的值
            var arrStr = document.cookie.split("; ");
            for (var i = 0; i < arrStr.length; i++) {
                var temp = arrStr[i].split("=");
                if (temp[0] == objName) return unescape(temp[1]);
            }
            return "";
        }
        //设置cookie的值
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            console.log(cname + '/' + cvalue + '/' + exdays);
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + escape(cvalue) + "; " + expires;
            console.log(document.cookie);
        }
    </script>
</div>


</body>
</html>
