/* 信息查看页面 */
.infoCheckDiv{
	width: 100vw;
	height: 100vh;
	min-width: 1000px;
	font-size: 16px;
	background: white;
}
.infoCheckBack{
	/*box-shadow: 0px 5px 15px skyblue;*/
}
.infoCheckBack table{
	width: 100%;
	table-layout: fixed;
	border: 0;
	margin-bottom: -1px;
}
.infoCheck-three td, .infoCheck-two td{
	padding: 10px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.infoCheck-one td{
	padding: 20px 0;
}
.infoCheckBack table tr .infoCheck-name{
	width: 13%;
	text-align: right;
	padding-right: 10px;
	background: #52bce6;
	/* border-top: 1px solid white; */
	border: 1px solid white;
	color: #043e60;
}
.infoCheckBack table tr .infoCheck-content{
	padding-left: 10px;
	border: 1px solid white;
	background: #d2effd;
	color: #025c92;
}